# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
#
# RewriteBase /mysite

# block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]

# block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) index.php [L]

# block all files in the kirby folder from being accessed directly
RewriteRule ^kirby/(.*) index.php [L]

# make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

</IfModule>

# Additional recommended values
# Remove comments for those you want to use.
#
# AddDefaultCharset UTF-8
#
# php_flag short_open_tag on





<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresByType text/html "modification plus 1 hour"
  ExpiresByType text/css "modification plus 1 year"
  ExpiresByType text/javascript "modification plus 1 year"
  ExpiresByType text/plain "modification plus 1 year"
  ExpiresByType application/javascript "modification plus 1 year"
  ExpiresByType application/x-javascript "modification plus 1 year"

  ExpiresByType application/font-woff "modification plus 1 year"
  ExpiresByType image/svg+xml "modification plus 1 year"
  ExpiresByType application/vnd.ms-fontobject "modification plus 1 year"
  ExpiresByType application/x-font-ttf "modification plus 1 year"
  ExpiresByType application/x-font-truetype "modification plus 1 year"
  ExpiresByType application/x-font-opentype "modification plus 1 year"
</IfModule>
