.news {
  .center {
    padding-top: 6.125em;
    padding-bottom: 13em;
    @media (max-width: $max-width/12*7) {
      padding-bottom: 6em;
    }
    main {
      margin-left: $raster-width;
      width: $raster-width * 5;
      padding: 0 $default-padding;
      @media (max-width: $max-width/12*11) {
        width: $raster-width * 6;
      }
      @media (max-width: $max-width/12*7) {
        width: auto;
        padding-right: 0;
      }
      article {
        padding: 3.375em 0 2em;
        border-bottom: 2px solid $red;
        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          border-bottom: none;
        }
        header {
          position: relative;
          .time {
            display: inline-block;
            position: absolute;
            top: 0.3em;
            left: -4em;
            transform: rotate(-45deg);
            transform-origin:  0 0;
            line-height: 1em;
            text-transform: lowercase;
            color: $red;
            @media (max-width: $max-width/12*7) {
              left: -3em;
            }
            &:focus, &:hover {
              border: none;
            }
          }
          h1 {
            margin-bottom: 0.5em;
          }
        }
        h2, p, ul, ol {
          margin-bottom: 1em;
        }
        ul, ol {
          list-style: initial;
        }
        figure {
          margin-bottom: 1em;
          figcaption {
            margin-top: 0.5em;
            font-size: 0.9em;
          }
          img {
            max-width: 100%;
          }
          &.video {
            iframe {
              width: 100%;
              height: 14.5em;
              @media (max-width: $max-width) {
                height: 21vw;
              }
              @media (max-width: $max-width/12*11) {
                height: 26vw;
              }
              @media (max-width: $max-width/12*7) {
                height: calc((100vw - 32px - 70px) / 16 * 9);
              }
            }
          }
        }
      }
      .pagination {
        .previous, .next {
          display: inline-block;
          width: auto;
          max-width: 50%;
          height: 1em;
          background: no-repeat;
          border: none;
          span {
            display: inline-block;
            margin-top: 0px;
            opacity: 0;
            line-height: 1.15;
            text-transform: lowercase;
            transition-duration: $default-duration;
          }
          &:focus, &:hover {
            span {
              opacity: 1;
              transform: translate(0);
            }
          }
        }
        .next {
          float: right;
          background-position: center right;
          background-image: url(../images/button-next-arrow.svg);
          text-align: right;
          span {
            transform: translate(0.2em);
            padding-right: 1.3em;
          }
        }
        .previous {
          float: left;
          background-position: center left;
          background-image: url(../images/button-previous-arrow.svg);
          span {
            transform: translate(-0.2em);
            padding-left: 1.3em;
          }
        }
      }
    }
    aside {
      // position: sticky;
      top: 6.125em;
      bottom: 13em;
      float: right;
      width: $raster-width * 4;
      @media (max-width: $max-width) {
        margin-right: $default-padding;
        right: $default-padding;
        width: $raster-width * 4;
      }
      @media (max-width: $max-width/12*7) {
        position: static;
        float: none;
        margin: 0 auto 6em;
        width: $raster-width*10;
      }
      @media (max-width: $max-width/12*6) {
        margin: 0 0 3em;
        width: auto;
        max-width: 24em;
      }
    }
  }
  .mainfooter {
    position: fixed;
    bottom: 0;
    right: 0;
    @media (max-width: $max-width/12*7) {
      position: relative;
    }
  }
}
