.mini_timetable {
  position: relative;
  margin-bottom: 10px;
  padding: 20px 18px;
  border: 2px solid #EA564B;
  border-bottom: none;
  border-right: none;
  background: url(../images/corner_bg-redoutline-br-small.svg) bottom right;
  font-size: 0.9em;
  h1 {
    margin-bottom: 0.6em;
    font-size: 1.2em;
  }
  .timetable_link {
    position: absolute;
    top: 22px;
    right: 35px;
    text-transform: lowercase;
    @media (max-width: 390px) {
      right: 18px;
    }
    &::after {
      position: absolute;
      right: -17px;
      top: calc(50% - 5px);
      display: block;
      width: 17px;
      height: 10px;
      content: '';
      background: url(../images/button-next-arrow-red.svg) right no-repeat;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    box-sizing: border-box;
    margin-top: 10px;
    flex: 0 0 50%;
    hyphens: auto;
  }
  .info {
    color: $black;
  }
  h2 {
    margin-top: 3px;
  }
  li a {
    border-bottom: none;
    h2 span {
      display: inline-block;
      border-bottom: 2px solid transparent;
    }
    &:focus,
    &:hover {
      h2 span {
        border-bottom-color: $red;
      }
    }
  }
}
